.personalBackground{
    background-image: url(./images/thrift-stores_3.jpg);
    background-position: center;
}

.personalDiv {
    padding-top: 50px;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.personalOptions {
    display: flex;
    height: 100%;
    justify-content: space-around; 
    align-items: center;
    margin-bottom:50px;
}

.personalOptionSide {
    background-color: rgba(250, 250, 250, .5);
    border-style: dotted;
    border-width: 2px;
    margin: 10px;
    font-weight: bold;
}

@media screen and (max-width: 425px) {
    .personalBackground{
        background-position: cover;
        height: 100%;
    }
    .personalDiv {
        padding-top: 0px;
        height: 100%;
    }
    .personalOptions {
        flex-direction: column;
        margin-bottom:10px;
    }
    .personalOptionSide {
        margin: 1px;
    }
}