.app-overall {
  background-image: url(./Directory/images/tr-logo.png);
  background-color:black;
  height: 100vh;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}


/* Fix to add black background */
/* .app-color {
  background-color: black;
  height: auto;
  width: auto;
  z-index: -1;
} */